---
import metaImage from '../images/tyler.jpg';

const { title } = Astro.props;

// const metaImageUrl = `https://sosoromeo.vercel.app${metaImage.src}`;
const metaImageUrl = `https://sosoromeo.vercel.app/main-seo.jpg`;
// const metaImageUrl = `/main-seo.jpg`;
---

<head>
  <title>{`SOSOROMEO | ${title}`}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  {/* <!-- Search Engine --> */}
  <meta
    property="description"
    content="Vancouver 4 piece indie vibe rock band"
  />
  <meta property="image" content={metaImageUrl} />

  {/* <!-- Schema.org for Google --> */}
  <meta itemprop="name" content="SOSOROMEO" />
  <meta
    itemprop="description"
    content="Vancouver 4 piece indie vibe rock band"
  />
  <meta itemprop="image" content={metaImageUrl} />

  {/* <!-- Twitter --> */}
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="SOSOROMEO" />
  <meta
    property="twitter:description"
    content="Vancouver 4 piece indie vibe rock band"
  />
  <meta property="twitter:site" content="@gnarfunkelband" />
  <meta property="twitter:image:src" content={metaImageUrl} />

  {/* <!-- Open Graph general (Facebook, Pinterest & Google+) --> */}
  <meta property="og:title" content="SOSOROMEO" />
  <meta
    property="og:description"
    content="Vancouver 4 piece indie vibe rock band"
  />
  <meta property="og:image" content={metaImageUrl} />
  <meta
    property="og:image:secure_url"
    content={metaImageUrl}
  />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="1080" />
  <meta property="og:image:height" content="820" />
  <meta property="og:url" content="https://sosoromeo.vercel.app/" />
  <meta property="og:site_name" content="SOSOROMEO" />
  <meta property="og:type" content="website" />

  {/* Songkick Widget */}
  <!-- <script async src="//widget.songkick.com/9888034/widget.js" /> -->
</head>